@model IEnumerable<Intex.Models.Report>

@{
    ViewBag.Title = "PastOrders";
}

<h2>PastOrders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompoundName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Passed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompoundName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Passed)
        </td>
        <td>
            @Html.ActionLink("See Report", "ViewReport","Customer",null,null)
        </td>
    </tr>
}

</table>
